.hide{
    display: none!important;
}

input::placeholder{
    color: #484848 !important;
}

body.theme-dark .main{
    min-height: calc(100vh - 116px);
}

.bg-custom-dark{
    background-color: #16191c !important;
}

body.theme-dark .sidebar-menu .active>a{
    color: #ffffff;
}

.td_actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.target_activate{
    display: inline-block;
    height: 0;
    width: 0;
}

.target_info{
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    width: 30px;
    font-size: 20px;
}

.target_edit{
    font-size: 20px;
    margin-right: 7px;
}

.target_remove{
    font-size: 20px;
}

.target_activate.bg-secondary{
    background-color: transparent !important;
    border-left: 12px solid #6c757d;
    border-right: 6px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.target_activate.bg-secondary:hover{
    background-color: transparent !important;
    border-left-color: #545b62;
}

.target_activate.bg-success{
    background-color: transparent !important;
    border-left: 12px solid #17ba91;
    border-right: 6px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.target_activate.bg-success:hover{
    background-color: transparent !important;
    border-left-color: #118d6e;
}

.remove_param{
    z-index: 1;
    font-size: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu.show{
    display: grid!important;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li{
    order: 1;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header):nth-child(n+7){
    display: none!important;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li.dropdown-header{
    order: 0;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header).unread {
    background-color: #777777;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header).unread:hover {
    background-color: #3a4148;
}

.notification_item{
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr 180px;
    padding: 1rem 1rem;
}

.notification_item:not(:last-child){
    border-bottom: 1px solid #333333;
}

.notification_item:hover{
    background-color: #333333;
}