.hide{
    display: none!important;
}

input::placeholder{
    color: #484848 !important;
}

body.theme-dark .main{
    min-height: calc(100vh - 116px);
}

.bg-custom-dark{
    background-color: #16191c !important;
}

body.theme-dark .sidebar-menu .active>a{
    color: #ffffff;
}

.td_actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.target_start, .target_activate{
    font-size: 22px;
}

.target_info{
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    width: 25px;
    font-size: 16px;
}

.target_edit, .target_remove{
    font-size: 20px;
}

.remove_param{
    z-index: 1;
    font-size: 20px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu.show{
    display: grid!important;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li{
    order: 1;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header):nth-child(n+7){
    display: none!important;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li.dropdown-header{
    order: 0;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header).unread {
    background-color: #777777;
}

body.theme-dark .header>.header-bar .navigation .navbar-menu .menu-item>.dropdown-menu li:not(.dropdown-header).unread:hover {
    background-color: #3a4148;
}

.notification_item{
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr 180px;
    padding: 1rem 1rem;
}

.notification_item:not(:last-child){
    border-bottom: 1px solid #333333;
}

.notification_item:hover{
    background-color: #333333;
}

#tg_code:hover{
    cursor: pointer;
    color: #97dcff!important;
}

.sidebar .sidebar-menu .maincat .subcat li a:before{
    display: none;
}

.collapse:not(.show){
    display: block;
}

.accordion-body{
    transition: .3s;
    overflow: hidden;
    font-size: 0;
}

.show .accordion-body{
    font-size: 1rem;
}

.accordion-header{
    color: #ffffff;
}

.accordion-header:hover{
    cursor: pointer;
    color: #aaaaaa;
}

#FaqAccordion1 .accordion-button::after {
    background-image: none !important;
}

#FaqAccordion1 .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    border-bottom: 0 !important;
    box-shadow: none !important
}