{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/siqtheme.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body class="theme-dark">
<div class="bg1">

    <div class="card mx-auto auth_form">
        <div class="card-header uppercase text-center">
            <div class="caption">
                Авторизация
            </div>
        </div>
        <div class="card-body px-5 pb-0">
            <form class="form-group row" method="post" action="{% url 'auth' %}" id="auth_form">
                {% csrf_token %}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="username"><i class="ti-user"></i></label>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Введите логин" id="username" required>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="password"><i class="ti-lock"></i></label>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Введите пароль" id="password" required>
                </div>
            </form>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-flat btn-primary" form="auth_form">Войти</button>
        </div>
    </div>
</div>
<div class="footer">
    <p class="text-center mt-3">Copyright © 2025. All rights reserved.</p>
</div>
<script src="{% static 'js/siqtheme.js' %}"></script>
</body>
</html>